/* This stylesheet contains custom styling for albumcollections. It overrides any defaults from Bootstrap.
Styling that appears throughout the website are located in the "Broad Styles" section, listed alpabetically.
Styling that is specific to one instance are located in the "ID Styles" section organized by page, then listed alphabetically. */


/* Class Styles */
.album_item {
    margin: 5px;
}

.album_img {
    min-width: 50px;
    width: 10vw;
    cursor: pointer"
}

.collection_item {
    display: inline-block;
}

.collection_item_img {
    width: 64px;
    height: 64px;
}

/* Style the collection name to fit
on one line, w/ ... */
.collection_item_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Style a title to fit on one line and
scroll when hovering or focusing on it */
.scroll-to-fit-title {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* when not hovering show ellipsis */
scroll-to-fit-title:not(:hover) {
    text-overflow: ellipsis;
}
  
/* animate on either hover or focus */
.scroll-to-fit-title:hover span, .scroll-to-fit-title:focus span {
    display: inline-block;
    animation-name: scroll-text;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    /* FYI this would be the shorthand:
        animation: scroll-text 5s ease 0s 2 normal;
    */
}
  
/* define the animation */
@keyframes scroll-text {
    0% {
    transform: translateX(0%);
    }
    90% {
    transform: translateX(-100%);
    }
    95% {
    transform: translateX(0%);
    }
    100% {
    transform: translateX(0%);
    }
}
  
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    margin-top: 68px;  /* 8px of room above - height of top navbar is 60px... */
    margin-bottom: 62px; /* 8px of room below - height of collection control bar on bottom is 54px... */
}

.text-blue-theme {
    color: #0b5394ff;
}

.navbar_logo_img {
    width: 32px;
}

.login_with_spotify_nav_img {
    width: 80px;
}

.login_with_spotify_main_img {
    width: 160px;
}

.spotify_icon_small_img {
    width: 21px;
}

.login_with_spotify_main_link {
    text-decoration: none;
    color: black;
}

/* Id styles */
#shuffle_play_collection {
    white-space: nowrap;  /* Need to have this because the button contains two images */
}
