{% extends 'base.html' %}

{% block content %}
    <div class="container p-4">
        <div class="h2">Digital record shelves</div>
        <div class="h5">A metaphor for how to pair this app with your Spotify account</div>
        <p> Imagine a digital ecosystem of vinyl records. Spotify is both the record store (a very 
            extensive and inexpensive one) and the record player (with great features like turning 
            the record over for you).
        </p>
        <p>
            Spotify provides some organization options for your records, but they're very limited; you
            only have one shelf to store all your records, and only a select few ways to order them.
        </p>
        <p>
            <i>Album Collections</i> is a project that seeks to fill this organizational gap. It represents additional
            customizable shelves -- otherwise known as "collections" -- in your record cabinet. Whenever you're browsing the
            record store (Spotify), you can take an album home with you to add to one of your collections (by adding to 
            a Spotify playlist). Then you can look through the albums on your shelves, rearrange them, pick out one
            to play, or even stack them on your record player to spin one after the other.
        </p>
        <p>
            This sort of functionality has always existed in Spotify for individual tracks -- the <i>Mixtape</i>
            has had a fantastic digital representation for a long time. This app introduces the concept of <b>playlists for your albums</b>,
            bringing album collection into the music subscription age.
        </p>
    </div>
{% endblock %}