{% extends 'base.html' %}

{% block content %}
    {% if not is_user_logged_in() %}
        <div class="mx-auto" style="padding-top: 15vh; text-align: center; font-size: larger;">
            <p>albumcollections is an album organizing wrapper around spotify, using playlists as storage.</p>
            <p>Each playlist in your spotify account will be represented here as a 'collection' of albums.</p>
            <form
                method="post"
                name="login_with_spotify"
                action="{{ url_for('user.login')}}";>
                Start by <a href="#" onclick="document.login_with_spotify.submit();">logging in with spotify</a>.
            </form>
        </div>
    {% else %}
        {% for playlist in user_collections %}
            <a class="btn bg-dark text-light p-2 m-2 d-flex collection_item" role="button" href="{{url_for('collection.index', playlist_id=playlist.id)}}">
                <img class="collection_item_img"
                    '{% if playlist.img_url %}'
                        src="{{playlist.img_url}}"
                    '{% else %}'
                        src="/static/images/other/unknown_sp_item.jpg"
                    '{% endif %}'
                    alt="{{playlist.name}}"
                >

                <div class="collection_item_name ms-auto px-2 fs-4">{{playlist.name}}</div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}