{% extends 'base.html' %}

{% block content %}
    {% if not is_user_logged_in() %}
        <div class="main_text">
            <p>Organize, visualize and play your Spotify albums.</p>
            <p>
                Each playlist in your Spotify account that contains complete albums will be represented in this app as a <i>collection</i>.
                Here's an <a href="{{url_for('collection.index', playlist_id='4ucljWzVJnEB0cdWErJTsT')}}">example</a> of one.
            </p>
            <br>
            <form
                method="post"
                name="login_with_spotify_main"
                action="{{ url_for('user.login')}}";>
                <a class="login_with_spotify_main_link fs-3" href="#" onclick="document.login_with_spotify_main.submit();">
                    Login with <img src="/static/images/spotify/Spotify_Logo_RGB_Green.png" class="login_with_spotify_main_img ps-1"/>
                </a>
            </form>
        </div>
    {% else %}
        {% if user_collections|length == 0 %}
            <div class="main_text">
                <p>
                    You don't have any collections yet! Make a playlist with at least one album in Spotify and then come back here.
                </p>
                <p>
                    For more details check out the <a href="{{url_for('main.about')}}#guide">guide</a>.
                </p>
            </div>
        {% endif %}

        {% for collection in user_collections %}
            <a class="btn btn-dark p-2 m-2 d-flex collection_item"
               role="button"
               href="{{url_for('main.load_redirect')}}?redirect_location={{url_for('collection.index', playlist_id=collection.id)}}&load_message=Dusting off those records..."
            >
                <img class="collection_item_img"
                    '{% if collection.img_url %}'
                        src="{{collection.img_url}}"
                    '{% else %}'
                        src="/static/images/other/unknown_sp_item.jpg"
                    '{% endif %}'
                    alt="{{collection.name}}"
                >

                <div class="collection_item_name ms-auto px-2 fs-4">{{collection.name}}</div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}