{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block content %}
    <div id="index_content">
        {% if not is_user_logged_in() %}
            <div class="main_text">
                <p>Organize and visualize your Spotify albums.</p>
                <p>
                    Any playlist in your Spotify account can be represented in this app as a <i>collection</i>.
                    Here's an <a href="{{url_for('collection.index', playlist_id='4ucljWzVJnEB0cdWErJTsT')}}">example</a> of one.
                </p>
                <br>
                <form
                    method="post"
                    name="login_with_spotify_main"
                    action="{{ url_for('user.login')}}";>
                    <a class="login_with_spotify_main_link fs-3" href="#" onclick="document.login_with_spotify_main.submit();">
                        Login with <img src="/static/images/spotify/Spotify_Logo_RGB_Green.png" class="login_with_spotify_main_img ps-1"/>
                    </a>
                </form>
            </div>
        {% else %}
            <div class="row m-2 shelf_item">
                <div class="col p-2 me-2 btn btn-dark d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#addCollections">
                    <div class="fs-1 text-success">+</div>
                </div>
                {% if user_collection_playlists|length > 0 %}
                <div class="col p-2 btn btn-dark d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#removeCollections">
                    <div class="fs-1 text-danger">-</div>
                </div>
                {% endif %}
            </div>
            {% for collection in user_collection_playlists %}
                <a class="btn btn-dark p-2 m-2 d-flex collection_item"
                role="button"
                href="{{url_for('main.load_redirect')}}?redirect_location={{url_for('collection.index', playlist_id=collection.id)}}&load_message=Dusting off those records..."
                >
                    <img class="collection_item_img"
                        '{% if collection.img_url %}'
                            src="{{collection.img_url}}"
                        '{% else %}'
                            src="/static/images/other/unknown_sp_item.jpg"
                        '{% endif %}'
                        alt="{{collection.name}}"
                    >

                    <div class="collection_item_name ms-auto px-2 fs-4">{{collection.name}}</div>
                </a>
            {% endfor %}

            {% if user_collection_playlists|length == 0 %}
                <div class="main_text">
                    <p>
                        You don't have any collections yet! Use the + button above to add some.
                    </p>
                    <p>
                        For more details check out the <a href="{{url_for('main.about')}}#guide">guide</a>.
                    </p>
                </div>
            {% endif %}


            <!-- Add collections popup window-->
            <div class="modal fade" id="addCollections" tabindex="-1" aria-labelledby="addCollectionsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addCollectionsLabel">Add Collection</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" onsubmit="show_loading_add_collections()">
                                {{ render_form(add_collection_form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Remove collections popup window-->
            <div class="modal fade" id="removeCollections" tabindex="-1" aria-labelledby="removeCollectionsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="removeCollectionsLabel">Remove Collections</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" onsubmit="show_loading_remove_collections()">
                                {{ remove_collections_form.hidden_tag() }}
                                {{ render_field(remove_collections_form.collections, size=choices_display_len(remove_collections_form.collections.choices|length)) }}
                                {{ render_field(remove_collections_form.submit_collection_removal) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div id="index_loading_add_collections" style="display: none;">
        <div class="d-flex flex-column align-items-center">
            <div class="loader py-2"></div>
            <div class="py-2"><p>Grabbing those records from the store...</p></div>
        </div>
    </div>

    <div id="index_loading_remove_collections" style="display: none;">
        <div class="d-flex flex-column align-items-center">
            <div class="loader py-2"></div>
            <div class="py-2"><p>Returning those records...</p></div>
        </div>
    </div>


    <!-- Javascript used in this page-->
    <script type="text/javascript" src="{{url_for('static', filename='js/main/index.js')}}"></script>
{% endblock %}