{% extends 'base.html' %}

{% block content %}
    <h4 style="text-align: center; padding: 30px;"> {{playlist_name}}</h4>
    <body onload="init('{{playlist_id}}')">
        {% for album in playlist_albums %}
            <div id="{{album.id}}" class="album_close_wrapper bg-dark text-light div_spotify_item">
                <div class="row">
                    <div class="col col-auto">
                        <a class="btn" role="button"
                            '{% if album.link %}'
                                href="{{album.link}}"
                            '{% endif %}'
                        >
                            <img
                                '{% if album.img_url %}'
                                    src="{{album.img_url}}"
                                '{% else %}'
                                    src="/static/unknown_sp_item.jpg"
                                '{% endif %}'
                                alt="{{album.name}}"
                            >
                        </a>
                    </div>
                    <div class="col div_spotify_item_name">
                        <b>{{album.name}}</b> by {{album.get_artists_comma_separated()}}
                    </div>
                </div>
                <span class="close" onclick="remove_album('{{album.name}}', '{{album.id}}')"></span>
            </div>
        {% endfor %}
    </body>

    <!-- Javascript used in this page-->
    <script type="text/javascript" src="{{url_for('static', filename='js/collection/index.js')}}"></script>
{% endblock %}

