{% extends 'base.html' %}

{% block content %}
    <body onload="init('{{collection.id}}', '{{collection.owner_id}}', '{{user_id}}')">
        {% if collection.albums|length == 0 %}
            <div class="main_text">
                <p>
                    You don't have any albums in this collection yet! Add at least one album to the corresponding Spotify playlist then come back here.
                </p>
                <p>
                    For more details check out the <a href="{{url_for('main.about')}}#guide">guide</a>.
                </p>
            </div>
        {% endif %}

        <!-- Collection Albums -->
        <div id="collection_list" class="row justify-content-center justify-content-md-start" oncontextmenu="return false;">
            {% for album in collection.albums %}
                <!-- col-5 -->
                <div class="col col-auto col-md-auto album_item
                    '{% if not album.complete %}'
                        incomplete_album
                    '{% endif %}'
                    "
                    id="{{album.id}}"
                    data-album_id="{{album.id}}"
                    data-album_name="{{album.name}}"
                    data-album_artists="{{album.get_artists_comma_separated()}}"
                    data-album_img_url="{{album.img_url}}"
                    data-album_link="{{album.link}}">
                    <div class="card bg-light album_card" data-toggle="modal" data-target="#album_control_modal">
                        <img
                            '{% if album.img_url %}'
                                src="{{album.img_url}}"
                            '{% else %}'
                                src="/static/images/other/unknown_sp_item.jpg"
                            '{% endif %}'
                            alt="{{album.name}}"
                            class="card-img img-fluid album_img"
                            '{% if collection.albums|length < 15 %}'
                                style="min-width: 100px;"
                            '{% elif collection.albums|length < 30 %}'
                                style="min-width: 75px;"
                            '{% endif %}'
                        >
                        <div class="album-item-move-container d-flex align-items-center justify-content-center">
                            <img class="album-item-move img-fluid" src="/static/images/bootstrap/arrows-move.svg" style="width: 30px; display: none;"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Collection control navbar -->
        <div class="bg-light py-2 d-flex fixed-bottom">
            <div class="scroll-to-fit-title me-auto mx-2 text-blue-theme"><span class="fs-4">{{collection.name}}</span></div>

            <div id="shuffle_collection">
                <a
                    class="btn btn-outline-warning mx-2"
                    role="button"
                    href="{{url_for('main.load_redirect')}}?redirect_location={{url_for('collection.shuffle_collection', playlist_id=collection.id)}}&load_message=Mixing it up.."
                >
                    <img src="/static/images/bootstrap/shuffle.svg"/>
                </a>
            </div>

            <div id="reorder_collection">
                <input type="checkbox" class="btn-check" id="reorder-active" autocomplete="off">
                <label class="btn btn-outline-primary mx-2" for="reorder-active">
                    <img src="/static/images/bootstrap/arrows-move.svg"/>
                </label>
            </div>

            <div role="button" id="text_repr_btn" class="btn btn-outline-secondary mx-2" data-bs-toggle="modal" data-bs-target="#text_repr_modal"><img src="/static/images/bootstrap/file-text.svg"/></div>

            <a class="btn btn-outline-secondary mx-2" role="button" href="{{collection.link}}">
                <img src="/static/images/spotify/Spotify_Icon_RGB_Black.png" class="spotify_icon_small_img"/>
            </a>
        </div>

        <!-- Text representation modal -->
        <div class="modal fade" id="text_repr_modal" tabindex="-1" aria-labelledby="textReprLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="textReprLabel">Albums Text List</h4>
                        <button id="text_repr_modal_close_btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <textarea readonly id="text_repr_area" rows="10" style="width: 100%;">{{collection.get_albums_text_list()}}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="text_repr_copy_btn" type="button" class="btn btn-primary"><img src="/static/images/bootstrap/clipboard.svg"/></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add/complete album popup window-->
        <div class="modal fade" id="add_album_modal" tabindex="-1" aria-labelledby="moveAlbumLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="moveAlbumLabel">Add to Collection</h4>
                        <button id="add_album_modal_close_btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label" for="album_move_modal_title">Album</label>
                            <div class="scroll-to-fit-title">
                                <span id="album_move_modal_title"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-select-label" for="collectionMoveSelect">Destination Collection</label>
                            <select id="collectionMoveSelect" class="form-select" aria-label="collection select">
                                {% if owned_collection_playlists %}
                                    {% for playlist in owned_collection_playlists %}
                                        <option value="{{playlist.id}}">{{playlist.name}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <button id="add_album_submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Album control popup window-->
        <div id="album_control_modal" class="modal fade" role="dialog" data-target_album_item_id="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <img
                                class="img-fluid"
                                id="album_control_modal_img"
                            >
                        </div>
                        <div class="scroll-to-fit-title mt-2">
                            <span id="album_control_modal_title"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="album_control_bar btn btn-outline-secondary" role="button" id="album_control_modal_spotify_link">
                            <img src="/static/images/spotify/Spotify_Icon_RGB_Black.png" class="spotify_icon_small_img"/>
                        </a>
                        <div role="button" id="add_album" class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#add_album_modal"><img src="/static/images/bootstrap/plus.svg"/></div>
                        <button id="album_control_modal_remove" type="button" class="album_control_bar btn btn-danger ms-auto"><img src="/static/images/bootstrap/trash.svg"/></button>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="remove_album_load_item loader py-2" style="display: none;"></div>
                        <div class="remove_album_load_item py-2" style="display: none;"><p>Returning this record to the store...</p>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <!-- Javascript used in this page-->
    <script type="text/javascript" src="{{url_for('static', filename='js/collection/index.js')}}"></script>
{% endblock %}

