{% extends 'base.html' %}

{% block content %}
{% for playlist in user_playlists %}
    <a class="bg-dark text-light div_round_item btn" role="button" href="{{url_for('user.playlist', playlist_id=playlist.id)}}">
        <div class="row">
            <div class="col col-auto">
                <img src="{{playlist.img_url}}"
                    alt="{{playlist.name}}"
                    class=img_albums>
            </div>
            <div class="col div_round_item_name">
                {{playlist.name}}
            </div>
        </div>
    </a>
{% endfor %}
{% endblock %}

