/* This stylesheet contains custom styling for Musicrecs. It overrides any defaults from Bootstrap.
Styling that appears throughout the website are located in the "Broad Styles" section, listed alpabetically.
Styling that is specific to one instance are located in the "ID Styles" section organized by page, then listed alphabetically. */

/* Broad Styles */
h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h5 {
    margin-bottom: 10px;
}

/* Class Styles */
.btn_main {
    white-space: normal;
}

.div_spotify_item {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.div_spotify_item_name {
    min-width: 200px;
}

.img_album{
    width: {{album.IMG_DIMEN}}px;
    height: {{album.IMG_DIMEN}}px;
    border: 0;
}

.img_playlist {
    width: {{playlist.IMG_DIMEN}}px;
    height: {{playlist.IMG_DIMEN}}px;
    border: 0;
}

.album_rem_wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
  }
.album_rem_wrap .remove {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
  }
.album_rem_wrap:hover .remove {
    opacity: 1;
  }


/* ID Styles (organized by page) */

/* PAGE base.html */
#base_content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#loading {
    display: none;
    cursor: wait;
}

#loading div {
    margin-left: 50%;
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background: url(/static/loadingimage.gif) no-repeat;
}

.navbar_logo {
    height: 40px;
    width: 40px;
}
