/* This stylesheet contains custom styling for Musicrecs. It overrides any defaults from Bootstrap.
Styling that appears throughout the website are located in the "Broad Styles" section, listed alpabetically.
Styling that is specific to one instance are located in the "ID Styles" section organized by page, then listed alphabetically. */

/* Broad Styles */
h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h5 {
    margin-bottom: 10px;
}

/* Class Styles */
.btn_main {
    white-space: normal;
}

.div_main_about_section {
    padding: 15px;
}

.div_round_section {
    padding: 15px;
    margin: 10px;
}

.div_round_item {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.div_round_item_name {
    min-width: 200px;
}

.div_round_info {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: small;
}

.div_round_revealed_music_user_name {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.div_user_rounds_section {
    padding: 15px;
}

.div_recommender_name {
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
}

.img_albums{
    width: {{music.IMG_DIMEN}}px;
    height: {{music.IMG_DIMEN}}px;
    border: 0;
}

.img_playlist {
    width: {{playlist.IMG_DIMEN}}px;
    height: {{playlist.IMG_DIMEN}}px;
    border: 0;
}

.p_main_about_q {
    font-weight: bold;
}

.p_main_about_a {
    margin-left: 20px;
    font-style: italic;
}

.p_round_revealed_guess_user_name {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.p_round_revealed_correct_guess {
    text-align: left;
    margin-bottom: 2px;
    color: green;
}

.p_round_revealed_incorrect_guess {
    text-align: left;
    margin-bottom: 2px;
    text-decoration: line-through;
}


/* ID Styles (organized by page) */

/* PAGE base.html */
#base_content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#loading {
    display: none;
    cursor: wait;
}

#loading div {
    margin-left: 50%;
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background: url(/static/loadingimage.gif) no-repeat;
}

.navbar_logo {
    height: 40px;
    width: 40px;
}

/* PAGE index.html */

/* PAGE round/base.html */
#roundLinkTextbox {
    width: 100%;
}

/* PAGE round/listen_phase.html */

/* PAGE round/submit_phase.html */
