<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- PWA  -->
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- albumcollections CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}?v=0.0.8">

        <!-- Sortable js (Not sure why this js needs to be loaded up here...but putting it down
             with the others doesn't load it properly...)-->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <!-- <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script> -->

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar main_navbar navbar-light bg-light" style="padding: 10px;">
            <a class="navbar-brand" href="{{ url_for('main.index')}}"><img src="/static/favicon.ico" class="navbar_logo" width="32px"></a>
            <div class="navbar-nav">
                <li class="nav-item active">
                    {% if is_user_logged_in() %}
                        <form
                            method="post"
                            name="logout_from_spotify"
                            action="{{ url_for('user.logout')}}";>
                            <a class="nav-link" href="#" onclick="document.logout_from_spotify.submit();">Log out</a>
                        </form>
                    {% else %}
                        <form
                            method="post"
                            name="login_from_spotify"
                            action="{{ url_for('user.login')}}";>
                            <a class="nav-link" href="#" onclick="document.login_from_spotify.submit();">Log in</a>
                        </form>
                    {% endif %}
                </li>
            </div>
        </nav>
        {% block secondary_nav %}{% endblock %}
        <div class="container-fluid" style="padding: 0 !important">
            <!-- Loading content goes here -->
            <div id="loading" style="display: none; cursor: wait;">
                <div style="margin-left: 50%; margin-top: 20px; width: 35px; height: 35px; background: url(/static/loadingimage.gif) no-repeat;"></div>
            </div>

            <!-- Content goes here -->
            <div id="content">
                <!-- Flash messages at top of all content -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Page specific content goes here -->
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Bootstrap JS, then custom -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>