{% extends 'base.html' %}

{% block content %}
{% for playlist in user_playlists %}
    <div class="bg-dark text-light div_spotify_item">
        <div class="row">
            <div class="col col-auto">
                <a class="btn" role="button" href="{{url_for('collection.index', playlist_id=playlist.id)}}">
                    <img
                        '{% if playlist.img_url %}'
                            src="{{playlist.img_url}}"
                        '{% else %}'
                            src="/static/unknown_sp_item.jpg"
                        '{% endif %}'
                        alt="{{playlist.name}}"
                    >
                </a>
            </div>
            <div class="col div_spotify_item_name">
                {{playlist.name}}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

